.Header{
    width: 100%;
    height: 10vh;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.HeaderButton{
    float: left;
    background-color: white;
    border: none;
    font-size: 2vh;
    text-align: left;
    text-wrap: nowrap;
    margin-left: 1%;
    outline: none;
    margin-top: 4%;
}

.HeaderLeftLink{
    text-decoration: none;
    width: 9%;
    height: 100%;
}
